<div class="event-photo buffer-both">

  <% img_title = "Добавил #{render partial: 'users/user', object: photo.user}" %>
  <% img_title += " #{link_to fa_icon('trash-o'), event_photo_path(photo.event,photo),
                  method: :delete, data: {confirm: 'Точно удалить фото?'}}" if current_user_can_edit?(photo) %>

  <%= link_to image_tag(photo.photo.thumb.url), photo.photo.url, data: {
        toggle: "lightbox", gallery: "example-gallery", title: img_title } %>
</div>